* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 200px;
    height: 100vn;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-25deg, #FAFAFA 50%, white 50%);
}

h1 {
    position: absolute;
    top: 25%;
    font-size: 40px;
    color:black;
}

h2 {
    position: absolute;
    top: 15%;
    font-size: 60px;
    color:black;
}

.login button {
    position: absolute;
    top: 60%;
}

.box {
    width: 500px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box > i {
    font-size: 20px;  
    color: black;
}

.box > input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

input {
    background-color: black;
    color:white;
}