<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section" style="margin:auto; margin-left: 325px;">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">O Nama</h3>
            <p>Tehnički fakultet je organizaciona jedinica Univerziteta u Bihaću. Fakultet je organiziran u pet odsjeka.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Dr. Irfana Ljubijankića, Bihać 77000</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>037 226-271</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>infotfb@tfb.ba</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Kategorije</h3>
            <ul class="footer-links">
              <li><a href="#">Elektrotehnika</a></li>
              <li><a href="#">Građevinstvo</a></li>
              <li><a href="#">Drvnoindustrijski</a></li>
              <li><a href="#">Mašinstvo</a></li>
              <li><a href="#">Tekstilstvo</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informacije</h3>
            <ul class="footer-links">
              <li><a href="#">O Nama</a></li>
              <li><a href="#">Kontaktirajte nas</a></li>
              <li><a href="https://info.tfb.ba/Infoservis/home.jsf">Infoservis</a></li>
              
            </ul>
          </div>
        </div>

        
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          
          <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Sva prava pridržana | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
